body{
	font-size: 36%;
	margin: 0;
	background-color: #eff0f4;
	font-family: "微软雅黑 Light";
}

header{
	background-color: #5fc0cd;
	color: white;
	height: 3.6rem;
	text-align: center;
	/*position: fixed;
	/*left: 0;
	top: 0;*/
}

.close{
	margin: 1em 1em;
	font-size: 3em;
	float: left;
}

.signIn{
	position: absolute;
	margin-top: 0.8em;
	width: 100%;
	height: 3em;
	font-size: 3.3em;
}

.signUp{
	margin: 1em 1em;
	font-size: 3em;
	float: right;
}

.input_control{   /*实现input宽度自适应的关键一步*/
	width:100%;
	margin-top: 0.5em;
	background-color: white;
}

<<<<<<< HEAD
.block{
	height: 3.6rem;
}

=======
>>>>>>> parent of cbe3271... try again
.form_input1{
	border: 0;
	padding: 1em 0;
	outline: none;
	font-size: 3em;
	padding-left: 6.6rem;
	background: url(./img/phone.png) no-repeat 1.6rem 50%; 
	background-size: 3em;
}

.form_input2{
	border: 0;
	padding: 1em 0;
	outline: none;
	font-size: 3em;
	padding-left: 6.6rem;
	background: url(./img/lock.png) no-repeat 1.6rem 50%; 
	background-size: 3em;
}

.button{
	height: 2.9em;
	width: 100%;
	margin-top: 0.2em;
	border: none;
	background-color: #5fc0cd;
	color: white;
	font-size: 3.3em;
}

.forget{
	font-size: 3em;
	float: right;
	color: #5fc0cd;
	margin-right: 1em;
	text-decoration: underline;
}

::-webkit-input-placeholder{
	color: rgb(233,236,237);
	/*border-left: 0.1em solid rgb(233,236,237);*/
	/*position: relative;
	padding-left: 1rem;*/
}



