body{
	font-size: 62.5%;
	margin: 0;
	background-color: #eff0f4;
}

header{
	background-color: #5fc0cd;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: white;
	height: 8.7em;
}

.close{
	margin: 0 1em;
	font-size: 3em;
}

.signIn{
	font-size: 3.3em;
}

.signUp{
	margin: 0 1em;
	font-size: 3em;
}

.form_input1{
	/*-web-kit-appearance: none;
	_moz-appearance: none;*/
	/*height: 8em;*/
	width: 83%;
	margin-top: 0.82em;
	border: 0;
	padding: 1em 0;
	outline: none;
	font-size: 3em;
	padding-left: 17%;
	/*position: relative;
	left: 6em;*/
	/*background-clip:  */
	background: url(https://kkkb.github.io/css-beginner/task4/img/phone.png) no-repeat 5% 50%; 
	background-color: white;
}

.form_input2{
	/*-web-kit-appearance: none;
	_moz-appearance: none;*/
	/*height: 8em;*/
	width: 83%;
	margin-top: 0.82em;
	border: 0;
	padding: 1em 0;
	outline: none;
	font-size: 3em;
	padding-left: 17%;
	/*position: relative;
	left: 6em;*/
	/*background-clip:  */
	background: url(https://kkkb.github.io/css-beginner/task4/img/lock.png) no-repeat 5% 50%; 
	background-color: white;
}

.button{
	height: 2.9em;
	width: 100%;
	margin-top: 0.8em;
	border: none;
	background-color: #5fc0cd;
	color: white;
	font-size: 3.3em;
}

.forget{
	font-size: 3em;
	float: right;
	color: #5fc0cd;
	margin-right: 1em;
	text-decoration: underline;
}

::-webkit-input-placeholder{
	/*font-size: 2em;*/
	color: rgb(233,236,237);
	/*height: 3em;*/
}

