* {
	
}

body {
	margin: 0 auto;
	background-color: #29bde0;
	max-width: 420px;

}

header {
	z-index: 1;
	position: fixed;
	top: 0;
	height: 16rem;
	width: 100%;
	max-width: 420px;
	background-color: #29bde0;
}

.btn-audio {
	position: absolute;
	right: 3.6rem;
	top: 0.8em;
	width: 36px;
	height: 36px;
	background: url(../imges/start.png) no-repeat;
}

.btn-audio :visited {
	background: url(../imges/stop.png) no-repeat;
}

.top-vote {
	margin: 1rem;
	text-align: center;
	font-size: 2rem;
	color: #fff;
}

.img-menu2 {
	position: absolute;
	left: 1.2rem;
	top: 1.2rem;
}

.img-exit {
	position: absolute;
	right: 1.2rem;
	top: 1.2rem;
}

.people-vote {
	position: absolute;
	top: 6rem;
	width: 100%;
	height: 60px;
	background-color: #b9e9f5;
}

.talk {
	position: relative;
	top: 20px;
	left: 1rem;
}

.triangle {
	position: absolute;
	top: 60px;
	left: 4rem;
	width: 0;
	height: 0;
	border-top: 12px solid #b9e9f5;
	border-right: 12px solid #29bde0;
	border-left: 12px solid #29bde0;
	border-bottom: 12px solid #29bde0;
}

.tips {
	position: absolute;
	top: 76px;
	left: 4rem;
	color: #fff;
}

.row1 {
	position: relative;
	top: 18rem;
	display: flex;
	justify-content: space-around;
}

.row2 {
	position: relative;
	top: 22rem;
	display: flex;
	justify-content: space-around;
}

.row3 {
	position: relative;
	top: 26rem;
	display: flex;
	justify-content: space-around;
}

.row4 {
	position: relative;
	top: 30rem;
	display: flex;
	justify-content: space-around;
}

.row5 {
	position: relative;
	top: 34rem;
	display: flex;
	justify-content: space-around;
}

.portrait {

	width: 80px;
	height: 80px;
	border: 3px solid #fff;
}



.four-option {
	display: none;
	position: relative;
	top: 1rem;
	left: -0.3rem;
}

.portrait:hover .four-option {
	display: block;
}

.detial {
	width: 100%;
	height: 52px;
	background-color: #f5c97b;
	text-align: center;
	line-height: 52px;
}

.number {
	width: 100%;
	height: 22.2px;
	text-align: center;
	background-color: #83b09a;
	color: #fff;
} 

main {
	z-index: -3;/*添加这一句hover就起作用了*/
}

footer {
	position: fixed;
	bottom: 0;
	height: 8rem;
	width: 100%;
	max-width: 420px;
	background-color: #29bde0;
}

.container {
	width: 80%;
}

.die-btn {
	position: relative;
	top: 1.8rem;
	border: 0;
	border-radius: 0;
}

.blank {
	position: absolute;
	top: 80rem;
	width: 100%;
	height: 6rem;
}

a {
	color: #fff;
	text-decoration: none;
}

a:focus, a:hover {
    color: #29bde0;
    text-decoration: none;
}
